<!DOCTYPE html>

<html>

    <head>
        <title>Task Console</title>
    </head>

    <body>
        <h1>List of Tasks</h1>
        <hr>


        {% for task in tasks %}
            <div class="task">
                <div class="task-description">{{task.description}}</div>

                <div class="task-category">
                {% for category in task.category %}
                    {{category}} <br>
                {% endfor %}
                </div>
            </div>
            <hr>
        {% endfor %}


    </body>

</html>